#imagem-direita-welcome{
    background-image: url('../../imagens/imagem-para-login\(2\).avif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120vh;
    height: 120vw;
    background-position: 50% -30%;
}